body {
  margin: 0;
  font-family: Arial;
  background: url('../img/fundo.jpg') no-repeat center/cover;
  color: rgb(255, 252, 252);
  display: flex;
  height: 100vh;
}

#left {
  width: 30%;
  background: url('../img/fdc.jfif') no-repeat center/cover;
  padding: 10px;
  overflow-y: auto;
}
#app{
    display: flex;

    height: calc(100vh - 80px);
}
#right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#loginScreen{
   background: rgba(0, 0, 0, 0.75);

    width: 95%;
    max-width: 900px;

    margin: 40px auto;
    padding: 40px;

    border-radius: 20px;

    text-align: center;

    backdrop-filter: blur(5px);

    box-shadow: 0 0 20px rgba(0, 115, 247, 0.5);
}
.user {
  padding: 10px;
  background: #1b1818;
  margin: 5px 0;
  cursor: pointer;
}

.user:hover {
  background: #51418d;
}

#chat {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

#inputArea {
  display: flex;
}

#msg {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
}

.msg {
  background: #000000;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}